[submodule "3rd_party_slots/rust_metta_bus_client/proto"]
	path = 3rd_party_slots/rust_metta_bus_client/proto
	url = https://github.com/singnet/das-proto
[submodule "3rd_party_slots/python_client/proto"]
	path = 3rd_party_slots/python_client/proto
	url = https://github.com/singnet/das-proto
