---
name: Build DAS Script Pipeline

on:
  push:
    branches:
      - master

jobs:
  build:

    strategy:
          matrix:
            platforms: [amd64,arm64]

    runs-on:
          - self-hosted
          - ${{matrix.platforms}}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to DockerHub
        if: success() 
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push to Docker Hub
        run: |
          docker build -t trueagi/das:semantic-versioning-${{matrix.platforms}} ./scripts/semver

      - name: Push Docker Image
        run: | 
          docker push trueagi/das:semantic-versioning-${{matrix.platforms}}

        
  publish-manifest:
    needs: build
    runs-on:
      - self-hosted
      - amd64
    steps:

    - name: Login to DockerHub
      if: success() 
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Create docker manifest
      run: |
        docker manifest create trueagi/das:semantic-versioning \
        --amend trueagi/das:semantic-versioning-arm64 \
        --amend trueagi/das:semantic-versioning-amd64

    - name: Publish manifest
      run: docker manifest push trueagi/das:semantic-versioning
