---
name: Publish DAS

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version"
        required: true

jobs:
  tag:
    if: github.ref == 'refs/heads/master'
    uses: singnet/das/.github/workflows/run-semver.yml@master
    with:
      version: ${{ github.event.inputs.version }}
      version-strategy: bump-version-from-variable-value
      job-image-namespace: trueagi
      job-image-version-semver: semantic-versioning
      main-branch: master
      version-tag-regex-pattern: /^\d+\.\d+\.\d+$/
      version-require-confirmation: "true"
      title: New version of DAS
      deliverable: Tagged branch (${{ github.ref_name }}) in the repository
    secrets: inherit

  publish-query-engine-doc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          repository: das-query-engine

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ^3.8.5

      - name: Install Poetry
        run: pip install poetry

      - name: Update Documentation
        run: |
          poetry lock --no-update 
          poetry export --with doc -f requirements.txt | pip install -r /dev/stdin
          mkdocs gh-deploy --force
