name: Build and Publish DAS

on:
  workflow_dispatch:

  workflow_call:

  push:
    branches:
      - master

jobs:

  tag:
    needs: 
      - determine-version
      - build-push-docker-image
    uses: singnet/das/.github/workflows/run-semver.yml@rl/notification-test
    if: needs.determine-version.outputs.version_exists != 'true'
    with:
      version: 1.0.1
      version-strategy: bump-version-from-variable-value
      job-image-namespace: trueagi
      job-image-version-semver: semantic-versioning
      main-branch: rl/notification-test
      version-tag-regex-pattern: /^\d+\.\d+\.\d+$/
      version-require-confirmation: "true"
      title: New DAS version released
      deliverable: Tagged branch (${{ github.ref_name }}) in the repository
    secrets: inherit
